body { 
  background-color: pink;
}

/*index css*/ 

.b{
margin: 10px 0;
text-decoration:none;
transition: all 0.3s ease;
}

.b::before{
border-bottom:ipx solid red;
position:absolute;
transform: scaleX(0);
transition: all 0.3s ease;
}

.b:hover{
color:red;
}

#index {
  
}
